main/migrations/__pycache__/0011_auto_20210514_0914.cpython-38.pyc
main/migrations/__pycache__/0010_submission_parameters.cpython-38.pyc
main/migrations/__pycache__/0009_submission_pass.cpython-38.pyc
main/migrations/__pycache__/0008_auto_20210501_1535.cpython-38.pyc
main/migrations/__pycache__/0007_assignment_controller.cpython-38.pyc
main/migrations/__pycache__/0006_assignment_describtion.cpython-38.pyc
main/migrations/__pycache__/0005_auto_20210404_1006.cpython-38.pyc
main/migrations/__pycache__/0004_auto_20210331_1249.cpython-38.pyc
main/migrations/__pycache__/0003_auto_20210331_1248.cpython-38.pyc
main/migrations/__pycache__/0002_auto_20210331_1247.cpython-38.pyc
main/migrations/__pycache__/0001_initial.cpython-38.pyc
main/migrations/__pycache__/__init__.cpython-38.pyc
main/__pycache__/views.cpython-38.pyc
main/__pycache__/urls.cpython-38.pyc
main/__pycache__/systems.cpython-38.pyc
main/__pycache__/models.cpython-38.pyc
main/__pycache__/design_tool.cpython-38.pyc
main/__pycache__/admin.cpython-38.pyc
main/__pycache__/__init__.cpython-38.pyc
control_simulator/__pycache__/wsgi.cpython-38.pyc
control_simulator/__pycache__/urls.cpython-38.pyc
control_simulator/__pycache__/settings.cpython-38.pyc
control_simulator/__pycache__/__init__.cpython-38.pyc
*.pyc