{% extends 'main/layout.html' %} {% load static %} {% block head %}
<title>Cruise Control Simulator</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script>
<link href="{% static 'main/css/cred.css' %}" rel="stylesheet" />
<link href="{% static 'main/css/profile.css' %}" rel="stylesheet" />
<link href="{% static 'main/css/simulator.css' %}" rel="stylesheet" />
<style>
	.flex-child {
		margin-top: 5%;
		flex: 0 70em;
	}

	.flex-child:first-child {
		border-right: 2px solid green;
		padding: 3% 5% 2% 4%;
		margin-right: 20px;
	}
</style>
{% endblock head %} {% block body %} {% if assignment.riseTime %}
<div class="{{assignment.id}}" style="display: none; position: fixed; background-color: rgba(0, 0, 0, 0.658); top: 0; left: 0; bottom: 0; right: 0">
	<div class="assign_child2">
		<h3>Assignment Requirements</h3>
		Rise Time = {{assignment.riseTime}}s
		<br />
		Settling Time = {{assignment.setTime}}s
		<br />
		Percent overshoot = {{assignment.pOvershoot}}%
		<br />
		steady state error = {{assignment.Ess}}
		<br />
		<button class="button" onclick="closeReqForm({{assignment.id}});">Exit</button>
	</div>
</div>
{% else %}
<div class="{{assignment.id}}" style="display: none; position: fixed; background-color: rgba(0, 0, 0, 0.658); top: 0; left: 0; bottom: 0; right: 0">
	<div class="assign_child2">
		<h3>Requirements Description</h3>
		<p>{{assignment.description}}</p>
		<br />
		<button class="button" onclick="closeReqForm({{assignment.id}});">Exit</button>
	</div>
</div>
{% endif %}
<div class="flex-container" style="display: flex">
	<div class="flex-child" id="simulatorForm" style="flex: 1">
		<form class="cred_form">
			{% if assignment %}
			<h5>
				Assignment: {{assignment.subject}}<button class="button" id="{{assignment.id}}" onclick="openReqForm({{assignment.id}});">
					Display Requirements
				</button>
			</h5>
			{% endif %}
			<h2 style="display: inline">Controller:</h2>
			<select class="cred" onchange="display();" id="selector">
				<option selected disabled>No selected</option>
				<option value="P">P</option>
				<option value="PI">PI</option>
				<option value="PD">PD</option>
				<option value="PID">PID</option>
				<option value="lag">Lag</option>
				<option value="lead">Lead</option>
				<option value="laglead">Lag-Lead</option>
			</select>
			<div id="P" style="display: none" class="option">
				<form class="cred_form" action="{% url 'servomotor' %}" method="POST">
					{% csrf_token %}
					<h5 style="display: inline">P:</h5>
					<input class="cred" type="number" step="0.00001" required placeholder="Enter the value" name="p" />
					<br />
					{% if assignment %}
					<button class="button" type="submit">Submit</button>
					{% endif %}
					<button class="button" type="button" onclick="sim();">Start</button>
					<input class="button" type="button" value="Reset" />
				</form>
			</div>
			<div id="PI" style="display: none" class="option">
				<form class="cred_form" action="{% url 'servomotor' %}" method="POST">
					{% csrf_token %}
					<h5>P:</h5>
					<input class="cred" type="number" step="0.00001" required placeholder="Enter the value" name="p" />
					<br />
					<h5>I:</h5>
					<input class="cred" type="number" step="0.00001" required placeholder="Enter the value" name="i" />
					<br />
					{% if assignment %}
					<button class="button" type="submit">Submit</button>
					{% endif %}
					<button class="button" type="button" onclick="sim();">Start</button>
					<input class="button" type="button" value="Reset" />
				</form>
			</div>
			<div id="PD" style="display: none" class="option">
				<form class="cred_form" action="{% url 'servomotor' %}" method="POST">
					{% csrf_token %}
					<h5>P:</h5>
					<input class="cred" type="number" step="0.00001" required placeholder="Enter the value" name="p" />
					<br />
					<h5>D:</h5>
					<input class="cred" type="number" step="0.00001" required placeholder="Enter the value" name="d" />
					<br />
					{% if assignment %}
					<button class="button" type="submit">Submit</button>
					{% endif %}
					<button class="button" type="button" onclick="sim();">Start</button>
					<input class="button" type="button" value="Reset" />
				</form>
			</div>
			<div id="PID" style="display: none" class="option">
				<form class="cred_form" action="{% url 'servomotor' %}" method="POST">
					{% csrf_token %}
					<h5>P:</h5>
					<input class="cred" type="number" step="0.00001" required placeholder="Enter the value" name="p" />
					<br />
					<h5>I:</h5>
					<input class="cred" type="number" step="0.00001" required placeholder="Enter the value" name="i" />
					<br />
					<h5>D:</h5>
					<input class="cred" type="number" step="0.00001" required placeholder="Enter the value" name="d" />
					<br />
					{% if assignment %}
					<button class="button" type="submit">Submit</button>
					{% endif %}
					<button class="button" type="button" onclick="sim();">Start</button>
					<input class="button" type="button" value="Reset" />
				</form>
			</div>
			<div id="lag" style="display: none" class="option">
				<form class="cred_form" action="{% url 'servomotor' %}" method="POST">
					{% csrf_token %}
					<h5>Zero:</h5>
					<input class="cred" type="number" step="0.00001" required placeholder="Enter the value" name="zero" />
					<br />
					<h5>Pole:</h5>
					<input class="cred" type="number" step="0.00001" required placeholder="Enter the value" name="pole" />
					<br />
					<h5>Gain:</h5>
					<input class="cred" type="number" step="0.00001" required placeholder="Enter the value" name="gain" />
					<br />
					{% if assignment %}
					<button class="button" type="submit">Submit</button>
					{% endif %}
					<button class="button" type="button" onclick="sim();">Start</button>
					<input class="button" type="button" value="Reset" />
				</form>
			</div>
			<div id="lead" style="display: none" class="option">
				<form class="cred_form" action="{% url 'servomotor' %}" method="POST">
					{% csrf_token %}
					<h5>Zero:</h5>
					<input class="cred" type="number" step="0.00001" placeholder="Enter the value" name="zero" required />
					<br />
					<h5>Pole:</h5>
					<input class="cred" type="number" step="0.00001" placeholder="Enter the value" name="pole" required />
					<br />
					<h5>Gain:</h5>
					<input class="cred" type="number" step="0.00001" placeholder="Enter the value" name="gain" required />
					<br />
					{% if assignment %}
					<button class="button" type="submit">Submit</button>
					{% endif %}
					<button class="button" type="button" onclick="sim()">Start</button>
					<input class="button" type="button" value="Reset" />
				</form>
			</div>
		</form>
	</div>
	<div class="flex-child" style="text-align: center">
		<div>
			<h1>System Response</h1>
			<canvas id="myChart"></canvas>
		</div>
	</div>
</div>
<script src=" {% static 'main/script/chart.js' %}"></script>
<script src=" {% static 'main/script/student.js' %}"></script>
<script src=" {% static 'main/script/simulator.js' %}"></script>
<div class="desc" id="desc">
	<button id="descButton" class="descButton" onclick="run();">Show System Description<span class="arrowUp"></span></button>
	<div class="content">
		<iframe id="pdf" src="https://cloudpdf.io/document/aad2b22a-7d7f-47e7-ac84-db6abc6f0b2e"></iframe>
	</div>
</div>
<script>
	window.addEventListener("load", (event) => {
		if ("{{assignment.controller}}" != "") {
			document.getElementById("selector").value = "{{assignment.controller}}";
			display();
		}
	});
</script>
{% endblock body %}
