{% extends 'main/layout.html' %}
{% load static %}
{% block style %}
<link href="{% static 'main/css/profile.css' %}" rel="stylesheet">
<link href="{% static 'main/css/cred.css' %}" rel="stylesheet">
{% endblock style %}
{% block body %}
<div class="assign_form" style="display: none;" id="myForm">
    <div class="assign_child">
        <form class="cred_form" action="{% url 'instructor' %}" method="POST">
            <h1 style="color: green;">New Assignment</h1>
                {% csrf_token %}
                <input class="cred" type="text" placeholder="Subject" name="subject">
                <br>
                <select class="cred" placeholder="Simulator" name="sim">
                    {% for simulator in simulators %}
                        <option value="{{simulator}}">{{simulator}}</option>
                    {% endfor %}
                </select>
                <br>
                <input class="cred" type="date" placeholder="dueDate" name="due">
                <br>
                <textarea cols="30" rows="3" class="cred" type="textarea" placeholder="Describtion" name="desc"></textarea>
                <br>
                {% if message %}
                        <h5 style="color: red;">{{message}}</h5>
                {% endif %}
                <button class="button" onclick="closeForm()">Cancel</button>
                <button class="button" type="submit">Save</button>
            </form>
    </div>
    </div>
    
<div class="profile" style="display:flex;">
    <span><img src="{% static 'main/images/profile.png' %}" alt="instructor's Photo" style="width:100px;height:100px"></span>
    <span><h4>{{instructor.credentials.username}}</h4><h4>Major:  <small style="color: black;">{{instructor.major}}</small></h4></span>
</div>
<div class="profile" style="display:flex;" id="assignment" onclick="openForm()">
    <span><img src="{% static 'main/images/plus.png' %}" alt="instructor's Photo" style="width:25px;height:25px"></span>
    <span><h6>Create a new assignment</h6></span>
</div>
<table class="table">
        <tr>
            <th>Assignment</th><th>Requirements</th><th>Simulator</th><th>Score</th><th>Due Date</th>
        </tr>
        {% for assignment in assignments %}
        <tr>
            <td>{{assignment.subject}}</td>
            <td>{{assignment.describtion}}</td>
            <td>{{assignment.simulator}}</td>
            <td>{{assignment.score}}</td>
            <td>{{assignment.dueDate}}</td>
        </tr>
        {% endfor %}
    </table>
    <script>
            function openForm() {
                document.getElementById("myForm").style.display = "block";
                window.scroll(0,92);
            }

            function closeForm() {
                document.getElementById("myForm").style.display = "none";
            }
    </script>
{% endblock body %}