{% extends 'main/layout.html' %}
{% load static %}
{% block head %}
<title>Instructor Profile</title>
<link href="{% static 'main/css/profile.css' %}" rel="stylesheet">
<link href="{% static 'main/css/cred.css' %}" rel="stylesheet">
{% endblock head %}
{% block body %}
<div class="assign_form" style="display: none;" id="myForm">
    <div class="assign_child">
        <form class="cred_form" action="{% url 'instructor' %}" method="POST">
            <h1 style="color: green;">New Assignment</h1>
                {% csrf_token %}
                <input class="cred" type="text" placeholder="Subject" name="subject">
                <br>
                <select class="cred" placeholder="Simulator" name="sim">
                    {% for simulator in simulators %}
                        <option value="{{simulator}}">{{simulator}}</option>
                    {% endfor %}
                </select>
                <br>
                <input class="cred" type="date" placeholder="dueDate" name="due">
                <br>
                <textarea cols="30" rows="3" class="cred" type="textarea" placeholder="Describtion" name="desc"></textarea>
                <br>
                {% if message %}
                        <h5 style="color: red;">{{message}}</h5>
                {% endif %}
                <button type="button" class="button" onclick="closeForm()">Cancel</button>
                <button class="button" type="submit">Save</button>
            </form>
    </div>
    </div>
    
<div class="profile" style="display:flex;">
    <span><img src="{% static 'main/images/profile.png' %}" alt="instructor's Photo" style="width:100px;height:100px"></span>
    <span><h4>{{instructor.credentials.username}}</h4><h4>Major:  <small style="color: black;">{{instructor.major}}</small></h4></span>
</div>
<div class="profile" style="display:flex;" id="assignment" >
    <span onclick="openForm()"><img src="{% static 'main/images/plus.png' %}" alt="instructor's Photo" style="width:25px;height:25px"></span>
    <span onclick="openForm()"><h6>Create a new assignment</h6></span>
</div>
<div class="profile">
    <h5 style="margin-top: -40px">Show results for: </h5>
    <form action="{% url 'instructor' %}" method="POST">
    {% csrf_token %}
    Course:
    <select name="course" style=" border: green solid 1px; border-radius: 10px;outline:none">
        {% for course in courses %}
            <option value="{{course.name}}">{{course.name}}</option>
        {% endfor %}
    </select>
    Assignmet:
    <select name="assign" style=" border: green solid 1px; border-radius: 10px;outline:none">
        {% for assignment in assignments %}
            <option value="{{assignment.subject}}">{{assignment.subject}}</option>
        {% endfor %}
    </select>
    <button type="submit" style="color: white;border: white solid 1px;border-radius: 10px;background-color: green;padding: 4px;outline: none;">Show</button>
</form>
</div>
    
<table class="table">
        <tr>
            <th>Students</th><th>Submission</th><th>Score</th><th>Date Submitted</th><th>Due Date</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{student}}</td>
        </tr>
        {% endfor %}
    </table>
    <script src="{% static 'main/script/assign.js' %}"></script>
{% endblock body %}