{% extends 'main/layout.html' %}
{% load static %}
{% block head %}
<title>Login</title>
<link href="{% static 'main/css/cred.css' %}" rel="stylesheet">
{% endblock head %}
{% block body %}
    <div class="container">
        <form class="cred_form" action="{% url 'login' %}" method="POST">
        <h1 style="color: green;text-align: center;grid-area: 1/2;">Login</h1>
            {% csrf_token %}
            <input class="cred" type="text" placeholder="Email" name="username">
            <br>
            <input class="cred" type="password" name="password" id="" placeholder="Password">
            <br>
            {% comment %} <input type="checkbox" name="remember">
            <span style="color: green;margin-right: 70px;">Remember me</span> 
            Disabled Temporarely
            {% endcomment %}
            {% if message %}
                    <h5 style="color: red;">{{message}}</h5>
            {% endif %}
            <a href="#" class="signup">Forgot password?</a>
            <br>
            <button class="button" type="submit" style="margin-right: 20px; transition: 0.3s; outline:none;">Login</button>
            <br>
            <a class="signup" href="{% url 'register' %}" >Don't have an account ? Sign Up</a>
        </form>
    </div>
{% endblock body %}