{% extends 'main/layout.html' %} {% load static %} {% block head %}
<title>Servomotor Simulator</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script>
<link href="{% static 'main/css/cred.css' %}" rel="stylesheet" />
<link href="{% static 'main/css/profile.css' %}" rel="stylesheet" />
<link href="{% static 'main/css/Layout.css' %}" rel="stylesheet" />
<link href="{% static 'main/css/simulator.css' %}" rel="stylesheet" />
<style>
	.flex-child {
		margin-top: 3%;
		flex: 0 70em;
	}

	.flex-child:first-child {
		border-right: 2px solid #28a745;
		padding: 5% 5% 2% 4%;
	}
</style>
{% endblock head %} {% block body %} {{duplicateAssignment}} {% if assignment.riseTime %}
<div class="{{assignment.id}} assignPosition">
	<div class="assign_child">
		<h3>Assignment Requirements</h3>
		<strong>Assignment: {{assignment.subject}} </strong>
		<br />
		Rise Time = {{assignment.riseTime}}s
		<br />
		Settling Time = {{assignment.setTime}}s
		<br />
		Percent overshoot = {{assignment.pOvershoot}}%
		<br />
		steady state error = {{assignment.Ess}}
		<br />
		<button class="button" onclick="closeReqForm({{assignment.id}});">Exit</button>
	</div>
</div>
{% else %}
<div class="{{assignment.id}} assignPosition">
	<div class="assign_child">
		<h3>Requirements Description</h3>
		<p>{{assignment.description}}</p>
		<br />
		<button class="button" onclick="closeReqForm({{assignment.id}});">Exit</button>
	</div>
</div>
{% endif %}
<div class="flex-container" style="display: flex">
	<div class="flex-child" id="simulatorForm" style="flex: 1; margin-top: 0; padding: 3% 2% 2% 2%;">
		<form class="cred_form" action="{% url 'servomotor' %}" method="POST">
			{% if assignment %}
				<a class="btn draw" id="{{assignment.id}}" style="display: inline" type="button" onclick="openReqForm({{assignment.id}});">
					Assignment Requirements
				</a><span><button class="btn draw removeAssignment" name="removeAssignment" value="1" type="submit">X</button></span>
			{% endif %}
			<div class="text1">
				<p class="input-bar">Controller:</p>
			</div>
			<select class="cred nav-link" onchange="display();" id="selector" >
				<option disabled selected>Not Selected</option>
				<option value="non" {% if remember == 'non' %}selected{% endif %}>Uncompensated</option>
				<option value="P" {% if remember == 'p' %}selected{% endif %}>P</option>
				<option value="PI" {% if remember == 'pi' %}selected{% endif %}>PI</option>
				<option value="PD" {% if remember == 'pd' %}selected{% endif %}>PD</option>
				<option value="PID" {% if remember == 'pid' %}selected{% endif %}>PID</option>
				<option value="lag" {% if remember == 'lag' %}selected{% endif %}>Lag</option>
				<option value="lead" {% if remember == 'lead' %}selected{% endif %}>Lead</option>
			</select>
			{% comment %} Dummy Form Temporary fix for some unknown bug {% endcomment %}
			<div id="dummy" style="display: none" class="option">
				<form class="cred_form" action="{% url 'servomotor' %}" method="POST">
					{% csrf_token %}
					<button class="button" type="submit" name="submit" value="submit">Submit</button>
				</form>
			</div>
			<div id="non" style="display: none" class="option">
				<form class="cred_form" action="{% url 'servomotor' %}" method="POST">
					{% csrf_token %}
					<div class="text1">
						<p class="input-bar">Set Point:</p>
						<input class="input-data reset" type="number" step="0.00001" required name="setPoint" value="{{setPoint}}" />
					</div>
					<div class="text2">
						<p class="input-bar">Simulation Time:</p>
						<input class="input-data reset" type="number" step="0.00001" required name="time" value="{{time}}" />
					</div>
					<input type="hidden" name="remember" value="non" />
					<br />
					<div>Disable Animation <input type="checkbox" class="animation" name="animation" value="true"/></div>
					<button class="button" type="submit" name="submit" value="simulate">Start</button>
					 <button class="button" onclick="Reset();" type="button">Reset</button>
					{% if assignment %}
					<button class="sub" type="submit" name="submit" value="submit">Submit</button>
					{% endif %}
				</form>
			</div>
			<div id="P" style="display: none" class="option">
				<form class="cred_form" action="{% url 'servomotor' %}" method="POST">
					{% csrf_token %}
					<div class="text1">
						<p class="input-bar">Set Point:</p>
						<input class="input-data reset" type="number" min="0" step="0.00001" name="setPoint" value="{{setPoint}}" />
					</div>
					<div class="text2">
						<p class="input-bar">Simulation Time:</p>
						<input class="input-data reset" type="number" min="1" step="0.00001" name="time" value="{{time}}" />
					</div>
					<div class="text0">
						<p class="input-bar" style="margin-left: 10px">P:</p>
						<input class="cred clear" type="number" step="0.00001" required name="p" placeholder="Enter a value" value="{{p}}" />
					</div>
					<input type="hidden" name="remember" value="p" />
					<div>Disable Animation <input type="checkbox" class="animation" name="animation" value="true"/></div>
					<button class="button" type="submit" name="submit" value="simulate">Start</button>
					 <button class="button" onclick="Reset();" type="button">Reset</button>
					{% if assignment %}
					<button class="sub" type="submit" name="submit" value="submit">Submit</button>
					{% endif %}
				</form>
			</div>
			<div id="PI" style="display: none" class="option">
				<form class="cred_form" action="{% url 'servomotor' %}" method="POST">
					{% csrf_token %}
					<div class="text1">
						<p class="input-bar">Set Point:</p>
						<input class="input-data reset" type="number" min="0" step="0.00001" name="setPoint" value="{{setPoint}}" />
					</div>
					<div class="text2">
						<p class="input-bar">Simulation Time:</p>
						<input class="input-data reset" type="number" min="1" step="0.00001" name="time" value="{{time}}" />
					</div>
					<br /><br /><br />
					<div class="text1">
						<p class="input-bar">P:</p>
						<input class="input-data clear" type="number" step="0.00001" required placeholder="Enter a value" name="p" value="{{p}}" />
					</div>
					<div class="text2">
						<p class="input-bar">I:</p>
						<input class="input-data clear" type="number" step="0.00001" required placeholder="Enter a value" name="i" value="{{i}}" />
					</div>
					<input type="hidden" name="remember" value="pi" />

					<br />
					<div>Disable Animation <input type="checkbox" class="animation" name="animation" value="true"/></div>
					<button class="button" type="submit" name="submit" value="simulate">Start</button>
					 <button class="button" onclick="Reset();" type="button">Reset</button>
					{% if assignment %}
					<button class="sub" type="submit" name="submit" value="submit">Submit</button>
					{% endif %}
				</form>
			</div>
			<div id="PD" style="display: none" class="option">
				<form class="cred_form" action="{% url 'servomotor' %}" method="POST">
					{% csrf_token %}
					<div class="text1">
						<p class="input-bar">Set Point:</p>
						<input class="input-data reset" type="number" step="0.00001" min="0" name="setPoint" value="{{setPoint}}" />
					</div>
					<div class="text2">
						<p class="input-bar">Simulation Time:</p>
						<input class="input-data reset" type="number" step="0.00001" min="1" name="time" value="{{time}}" />
					</div>
					<br /><br /><br />
					<div class="text1">
						<p class="input-bar">P:</p>
						<input class="input-data clear" type="number" step="0.00001" required placeholder="Enter a value" name="p" value="{{p}}" />
					</div>
					<div class="text2">
						<p class="input-bar">D:</p>
						<input class="input-data clear" type="number" step="0.00001" required placeholder="Enter a value" name="d" value="{{d}}" />
					</div>
					<input type="hidden" name="remember" value="pd" />
					<br />
					<div>Disable Animation <input type="checkbox" class="animation" name="animation" value="true"/></div>
					<button class="button" type="submit" name="submit" value="simulate">Start</button>
					 <button class="button" onclick="Reset();" type="button">Reset</button>
					{% if assignment %}
					<button class="sub" type="submit" name="submit" value="submit">Submit</button>
					{% endif %}
				</form>
			</div>
			<div id="PID" style="display: none" class="option">
				<form class="cred_form" action="{% url 'servomotor' %}" method="POST">
					{% csrf_token %}
					<div class="text1">
						<p class="input-bar">Set Point:</p>
						<input class="input-data reset" type="number" min="0" step="0.00001" name="setPoint" value="{{setPoint}}" />
					</div>
					<div class="text2">
						<p class="input-bar">Simulation Time:</p>
						<input class="input-data reset" type="number" min="1" step="0.00001" name="time" value="{{time}}" />
					</div>
					<br /><br /><br />
					<div class="text11">
						<p class="input-bar">P:</p>
						<input class="input-data clear" type="number" step="0.00001" required placeholder="Enter a value" name="p" value="{{p}}" />
					</div>
					<div class="text22">
						<p class="input-bar">I:</p>
						<input class="input-data clear" type="number" step="0.00001" required placeholder="Enter a value" name="i" value="{{i}}" />
					</div>
					<div class="text33">
						<p class="input-bar">D:</p>
						<input class="input-data clear" type="number" step="0.00001" required placeholder="Enter a value" name="d" value="{{d}}" />
					</div>
					<input type="hidden" name="remember" value="pid" />
					<br />
					<div>Disable Animation <input type="checkbox" class="animation" name="animation" value="true"/></div>
					<button class="button" type="submit" name="submit" value="simulate">Start</button>
					 <button class="button" onclick="Reset();" type="button">Reset</button>
					{% if assignment %}
					<button class="sub" type="submit" name="submit" value="submit">Submit</button>
					{% endif %}
				</form>
			</div>
			<div id="lag" style="display: none" class="option">
				<form class="cred_form" action="{% url 'servomotor' %}" method="POST">
					{% csrf_token %}
					<div class="text1">
						<p class="input-bar">Set Point:</p>
						<input class="input-data reset" type="number" min="0" step="0.00001" name="setPoint" value="{{setPoint}}" />
					</div>
					<div class="text2">
						<p class="input-bar">Simulation Time:</p>
						<input class="input-data reset" type="number" min="1" step="0.00001" name="time" value="{{time}}" />
					</div>
					<br /><br /><br />
					<div class="text11">
						<p class="input-bar">Zero:</p>
						<input class="input-data clear" type="number" step="0.00001" required placeholder="Enter a value" name="zero" value="{{zero}}" />
					</div>
					<div class="text22">
						<p class="input-bar">Pole:</p>
						<input class="input-data clear" type="number" step="0.00001" required placeholder="Enter a value" name="pole" value="{{pole}}" />
					</div>
					<div class="text33">
						<p class="input-bar">Gain:</p>
						<input class="input-data clear" type="number" step="0.00001" required placeholder="Enter a value" name="gain" value="{{gain}}" />
					</div>
					<input type="hidden" name="remember" value="lag" />
					<br />
					<div>Disable Animation <input type="checkbox" class="animation" name="animation" value="true"/></div>
					<button class="button" type="submit" name="submit" value="simulate">Start</button>
					 <button class="button" onclick="Reset();" type="button">Reset</button>
					{% if assignment %}
					<button class="sub" type="submit" name="submit" value="submit">Submit</button>
					{% endif %}
				</form>
			</div>
			<div id="lead" style="display: none" class="option">
				<form class="cred_form" action="{% url 'servomotor' %}" method="POST">
					{% csrf_token %}
					<div class="text1">
						<p class="input-bar">Set Point:</p>
						<input class="input-data reset" type="number" min="0" step="0.00001" name="setPoint" value="{{setPoint}}" />
					</div>
					<div class="text2">
						<p class="input-bar">Simulation Time:</p>
						<input class="input-data reset" type="number" min="1" step="0.00001" name="time" value="{{time}}" />
					</div>
					<br /><br /><br />
					<div class="text11">
						<p class="input-bar">Zero:</p>
						<input class="input-data clear" type="number" step="0.00001" required placeholder="Enter a value" name="zero" value="{{zero}}" />
					</div>
					<div class="text22">
						<p class="input-bar">Pole:</p>
						<input class="input-data clear" type="number" step="0.00001" required placeholder="Enter a value" name="pole" value="{{pole}}" />
					</div>
					<div class="text33">
						<p class="input-bar">Gain:</p>
						<input class="input-data clear" type="number" step="0.00001" required placeholder="Enter a value" name="gain" value="{{gain}}" />
					</div>
					<input type="hidden" name="remember" value="lead" />
					<br />
					<div>Disable Animation <input type="checkbox" class="animation" name="animation" value="true"/></div>
					<button class="button" type="submit" name="submit" value="simulate">Start</button>
					 <button class="button" onclick="Reset();" type="button">Reset</button>
					{% if assignment %}
					<button class="sub" type="submit" name="submit" value="submit">Submit</button>
					{% endif %}
				</form>
			</div>
			
			<div style="text-align: center">
				<a class="btn draw" href="{% url 'design' 'Servomotor' %}">Design by Frequency</a>
			</div>
			{% if stepinfo %}
			<div style="text-align: center; margin-top: 2%;">
				<button class="btn draw" onclick="openStepInfo();">Show Step info.</button>
			</div>
			{% endif %}
		</form>
	</div>
	<input type="text" style="display: none" id="degrees" value="{{output}}" />
	<input type="text" style="display: none" id="time" value="{{time}}" />
	<input type="text" style="display: none" id="tarray" value="{{t}}" />
	<input type="text" style="display: none" id="animation" value="{{animation}}" />
	<div class="flex-child" style="text-align: center">
		<div>
			<div class="simulationContainer">
				<div class="tResponse">
					<div>
						<canvas id="myChart"></canvas>
					</div>
				</div>
				<div class="visualization" id="canvas"></div>
			</div>
		</div>
	</div>
</div>

<div class="desc" id="desc">
	<button id="descButton" class="descButton" onclick="run();">Show System Description<span class="arrowUp"></span></button>
	<div class="content">
		<iframe id="pdf" src="about:servo"></iframe>
	</div>
</div>
<div class=" assignPosition" id="stepInfo">
	<div class="assign_child">
		<h3>Step Info.</h3>
		<p class="removePadding">RiseTime: {{ spec.RiseTime}} sec</p>
		<p class="removePadding">SettlingTime: {{ spec.SettlingTime}} sec</p>
		<p class="removePadding">Overshoot: {{ spec.Overshoot}}</p>
		<p class="removePadding">Undershoot: {{ spec.Undershoot}}</p>
		<p class="removePadding">Peak: {{ spec.Peak}}</p>
		<p class="removePadding">PeakTime: {{ spec.PeakTime}} sec</p>
		<p class="removePadding">SteadyStateValue: {{ spec.SteadyStateValue}}</p>
		<button class="button" onclick="closeStepInfo();">Exit</button>
	</div>
</div>
<script src=" {% static 'main/script/student.js' %}"></script>
<script src=" {% static 'main/script/simulator.js' %}"></script>
<script>
	window.addEventListener("load", (event) => {
		var name = document.getElementById("selector").value;
		var elements = document.getElementsByClassName("option");
		for (let i = 0; i < elements.length; i++) {
			var element = elements[i];
			if (element.id == name) {
				document.getElementById(name).style.display = "block";
			} else {
				element.style.display = "none";
			}
		}
		if ("{{assignment.controller}}" != "") {
			var selector = document.getElementById("selector")
			selector.value = "{{assignment.controller}}";
			selector.disabled=true
			display();
		}
		var d = document.getElementById("degrees").value;
		if (d ===""){
			console.log("Nothing submitted yet")
			var runSetupFuction = false;
		}else{
			runSetupFuction= true;
			d = d.slice(1);
			d = d.slice(0, d.length - 1);
			d = d.split(",");
			d = d.map(function (element) {
				return parseFloat(element);
			});
		}
		var tarray = document.getElementById('tarray').value;
		tarray = tarray.slice(1);
		tarray = tarray.slice(0, tarray.length - 1);
		tarray = tarray.split(',')
		tarray = tarray.map(function(element){
		return parseFloat(element)
		});
		var t = document.getElementById("time").value;
		t = t / 2000;
		//Aliases
		let Application = PIXI.Application,
			Container = PIXI.Container,
			loader = PIXI.loader,
			resources = PIXI.loader.resources,
			TextureCache = PIXI.utils.TextureCache,
			Sprite = PIXI.Sprite;

		//Create a Pixi Application
		let app = new Application({
			width: 400,
			height: 400,
			antialiasing: true,
			transparent: true,
			resolution: 1,
		});
		//Add the canvas that Pixi automatically created for you to the HTML document
		document.getElementById("canvas").appendChild(app.view);
		loader.add("{% static 'main/images/circle.png' %}").add("{% static 'main/images/pointer.png' %}").load(setup);
		//Define any variables that are used in more than one function
		var circle;
		var pointer;
		var v;	
		var timer;
		var count = 0;
		var l = d.length;
		var pointer;
		function setup() {
			pointer = new Sprite(resources["{% static 'main/images/pointer.png' %}"].texture);
			circle = new Sprite(resources["{% static 'main/images/circle.png' %}"].texture);
			circle.y = 0;
			circle.x = 0;
			pointer.pivot.set(25, 134);
			pointer.y = 175;
			pointer.x = 175;
			pointer.rotation = 0;
			app.stage.addChild(circle);
			app.stage.addChild(pointer);
			if(runSetupFuction){
				timer = setInterval(function () {
					d[count] = parseFloat(d[count]);
					v = (d[count] * Math.PI) / 180;
					v = (Math.floor(v * 100) / 100) % 6.28;
					pointer.rotation = v;
					if (l == count + 1) {
						clearInterval(timer);
					}

					count++;
				}, tarray[1]*1000);
			}
		}
		var ani = document.getElementById('animation').value;
		if (ani== "true") {
			var ctx = document.getElementById("myChart").getContext("2d");
			duration = 0;
			var chart = new Chart(ctx, {
				// The type of chart we want to create
				type: "line",

				// The data for our dataset
				data: {
					labels: tarray,
					datasets: [
						{
							label: "Degree",
							borderColor: 'rgb(40,167,69)',
							data: d,
						},
					],
				},
				options: {
					scales: {
						xAxes: [
							{
								ticks: {
									beginAtZero: true,
									//sampleSize : 2000
									maxTicksLimit: 10,
								},
							},
						],
						yAxes: [{ ticks: { beginAtZero: true } }],
					},
					animation: {
						duration: duration,
						easing: "easeInCirc",
					},
					hover: {
						duration: 0,
					},
					responsiveAnimationDuration: 0,
				},
			});
		} else {
			var ctx = document.getElementById("myChart").getContext("2d");
			var chart = new Chart(ctx, {
				// The type of chart we want to create
				type: "line",

				// The data for our dataset
				data: {
					labels: [],
					datasets: [
						{
							label: "Degree",
							borderColor: 'rgb(40,167,69)',
							data: [],
						},
					],
				},
				options: {
					scales: {
						xAxes: [
							{
								ticks: {
									beginAtZero: true,
									maxTicksLimit: 10,
								},
							},
						],
						yAxes: [{ ticks: { beginAtZero: true } }],
					},
					animation: {
						duration: 0,
						easing: "easeInCirc",
					},
					hover: {
						duration: 0,
					},
					responsiveAnimationDuration: 0,
				},
			});
			var counter = 0;
			var interval = setInterval(function () {
				if (l <= counter + 1) {
					clearInterval(interval);
					return;
				}
				chart.data.labels.push(tarray[counter]);
				chart.data.datasets[0].data.push(d[counter]);
				chart.update();
				counter++;
			}, tarray[1]*1000);
		}
	});
</script>
<script src="{% static 'main/script/pixi.min.js' %}"></script>
<script src="{% static 'main/script/pixi.min.js.map' %}"></script>
{% endblock body %}
