{% extends 'main/layout.html' %}
{% load static %}
{% block head %}
<title>Student Profile</title>
<link href="{% static 'main/css/profile.css' %}" rel="stylesheet">
{% endblock head %}
{% block body %}
<div class="profile" style="display:flex;">
    <span><img src="{% static 'main/images/profile.png' %}" alt="Student Photo" style="width:100px;height:100px"></span>
    <span><h4>{{student.credentials.first_name}} {{student.credentials.last_name}}</h4><h4>Course:  <small style="color: black;">{{student.courses.name}}</small></h4><h4>Course Code:  <small style="color: black;">{{student.courses.code}}</small></h4></span>
</div>
<div>
    <table class="table">
        <tr>
            <th>Assignment</th><th>Score</th><th>Status</th><th>Due Date</th><th>Requirements</th>
        </tr>
        {% for assignment in assignments %}
        <tr>
            <td>{{assignment.subject}}</td>
            <td>{{assignment.score}}</td>
            <td>Complete</td>
            <td>{{assignment.dueDate}}</td>
            <td>{{assignment.describtion}}<td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock body %}