{% extends 'main/layout.html' %}
{% load static %}
{% block head %}
<title>Design Test</title>
<link href="{% static 'main/css/test.css' %}" rel="stylesheet">
<link href="{% static 'main/css/Layout.css' %}" rel="stylesheet">
{% endblock head %}
{% block body %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

    <script src="{% static 'main/script/bode.js' %}"></script>
    <h1 class="test" style="font-weight: bold;">{{name}}:</h1>
    <div class="sys_name ">
        <div style="text-align: left;">
           $$(Gs) = { {{numerator}} \over {{denominator}}} \\ $$ 
        </div>
        <h2 style=" display: inline;">Controller:  </h2>
        <select class="form-select form-select-lg mb-3 dropdown" style="display: inline; margin-bottom:20%" aria-label=".form-select-lg example" onchange="display()" id="selector">
            <option selected>No selected</option>
            <option value="P">P</option>
            <option value="PI">PI</option>
            <option value="PD">PD</option>
            <option value="PID">PID</option>
            <option value="lag">Lag</option>
            <option value="lead">Lead</option>
            <option value="laglead">Lag-Lead</option>
          </select>
        <div id="P" class="no" style="display: none;">
            <form class="cred_form" action="{% url 'test' %}" method="POST">
                {% csrf_token %}
                <br> <h5 style="display: inline-block;">P:</h5>
                <input class="cred" style="display: inline-block;" type="text" placeholder="Enter the value" name="p">
                <br>
                <button class="btn btn-outline-success" type="submit" style="margin-right: 20px; transition: 0.3s; outline:none;">Draw</button>
            </form>
        </div>
        <div id="PI" class="no" style="display: none;">
            <form class="cred_form" action="{% url 'test' %}" method="POST">
                {% csrf_token %}
                <br> <h5 style="display: inline-block;">P:</h5>
                <input class="cred" style="display: inline-block;" type="text" placeholder="Enter the value" name="p">
                <br> <h5 style="display: inline-block;">I:</h5>
                <input class="cred" style="display: inline-block;" type="text" placeholder="Enter the value" name="i">
                <br>
                <button class="btn btn-outline-success" type="submit" style="margin-right: 20px; transition: 0.3s; outline:none;">Draw</button>
            </form>
        </div>
        <div id="PD" class="no" style="display: none;">
            <form class="cred_form" action="{% url 'test' %}" method="POST">
                {% csrf_token %}
                <br> <h5 style="display: inline-block;">P:</h5>
                <input class="cred" style="display: inline-block;" type="text" placeholder="Enter the value" name="p">
                <br> <h5 style="display: inline-block;">D:</h5>
                <input class="cred" style="display: inline-block;" type="text" placeholder="Enter the value" name="d">
                <br>
                <button class="btn btn-outline-success" type="submit" style="margin-right: 20px; transition: 0.3s; outline:none;">Draw</button>
            </form>
        </div>
        <div id="PID" class="no" style="display: none;">
            <form class="cred_form" action="{% url 'test' %}" method="POST">
                {% csrf_token %}
                <br> <h5 style="display: inline-block;">P:</h5>
                <input class="cred" style="display: inline-block;" type="text" placeholder="Enter the value" name="p">
                <br> <h5 style="display: inline-block;">I:</h5>
                <input class="cred" style="display: inline-block;" type="text" placeholder="Enter the value" name="i">
                <br> <h5 style="display: inline-block;">D:</h5>
                <input class="cred" style="display: inline-block;" type="text" placeholder="Enter the value" name="d">
                <br>
                <button class="btn btn-outline-success" type="submit" style="margin-right: 20px; transition: 0.3s; outline:none;">Draw</button>
            </form>
        </div>
        <div id="lag" class="no" style="display: none;">
            <form class="cred_form" action="{% url 'test' %}" method="POST">
                {% csrf_token %}
                <br> <h5 style="display: inline-block;">Zero:</h5>
                <input class="cred" style="display: inline-block;" type="text" placeholder="Enter the value" name="zero">
                <br> <h5 style="display: inline-block;">Pole:</h5>
                <input class="cred" style="display: inline-block;" type="text" placeholder="Enter the value" name="pole">
                <br> <h5 style="display: inline-block;">Gain:</h5>
                <input class="cred" style="display: inline-block;" type="text" placeholder="Enter the value" name="gain">
                <br>
                <button class="btn btn-outline-success" type="submit" style="margin-right: 20px; transition: 0.3s; outline:none;">Draw</button>
            </form>
        </div>
        <div id="lead" class="no" style="display: none;">
            <form class="cred_form" action="{% url 'test' %}" method="POST">
                {% csrf_token %}
                <br> <h5 style="display: inline-block;">Zero:</h5>
                <input class="cred" style="display: inline-block;" type="text" placeholder="Enter the value" name="zero">
                <br> <h5 style="display: inline-block;">Pole:</h5>
                <input class="cred" style="display: inline-block;" type="text" placeholder="Enter the value" name="pole">
                <br> <h5 style="display: inline-block;">Gain:</h5>
                <input class="cred" style="display: inline-block;" type="text" placeholder="Enter the value" name="gain">
                <br>
                <button class="btn btn-outline-success" type="submit" style="margin-right: 20px; transition: 0.3s; outline:none;">Draw</button>
            </form>
        </div>
        <div id="laglead" class="no" style="display: none;">
            <form class="cred_form" action="{% url 'test' %}" method="POST">
                {% csrf_token %}
                <br> <h5 style="display: inline-block;">Zero:</h5>
                <input class="cred" style="display: inline-block;" type="text" placeholder="Enter the value" name="zero">
                <br> <h5 style="display: inline-block;">Pole:</h5>
                <input class="cred" style="display: inline-block;" type="text" placeholder="Enter the value" name="pole">
                <br> <h5 style="display: inline-block;">Gain:</h5>
                <input class="cred" style="display: inline-block;" type="text" placeholder="Enter the value" name="gain">
                <br>
                <button class="btn btn-outline-success" type="submit" style="margin-right: 20px; transition: 0.3s; outline:none;">Draw</button>
            </form>
        </div>
        

    </div>
    <div style="width: 65%; float: left;">
        <div id="Magnitude" style="height: 300px; width: 100%;"></div>
        <br>
        <div id="Phase" style="height: 300px; width: 100%;"></div> 
    </div>
 
    
    
    <input hidden name="omega" value="{{omega}}" id =omega>
    <input hidden name="ph" value="{{ph}}" id =ph>
    <input hidden name="mag" value="{{mag}}" id =mag>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>    

{% endblock body %}