.cred_form{
    text-align: center;
}
.cred{
    border-top:none ;
    border-left: none;
    border-right: none;
    border-bottom: green solid 3px;
    outline: none;
    width: 93%;
    height: 7%;
    margin: 10px;
    padding: 5px;
    grid-area: 1/2;
}
.button{
    color: green;
    background-color:white;
    border-radius: 5mm;
    border: solid green 1px;
    outline: none;
    margin-top: 10px;
    font: 16px arial,sans-serif;
    padding: 5px;
}
.button:hover{
    cursor: pointer;
    color: white;
    background-color: green;
    border-color: green;   
}
.link{
    color: green;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}
::placeholder {
    color: green;
    opacity: 1;
}
.container{
    display: grid;
    grid-template-columns: auto auto;   
    margin: 0;
    position: relative;
    top: 50%;
    left:50%;
    -ms-transform: translate(-50%,-20%);
    transform: translate(-50%,30%);
    width:400px;
    height: 400px;
    border-radius: 20px;
}

.signup{
    color: green;
    text-decoration: none;
}
.signup:hover{
    color: green;
    text-decoration: underline;
    background-color: snow;
}
