.cred_form{
    text-align: center;
}
.cred{
    border-top:none ;
    border-left: none;
    border-right: none;
    border-bottom: #28a745 solid 3px;
    outline: none;
    width: 34ch;
    margin: 10px;
}
.form-control{
    border-top:none ;
    border-left: none;
    border-right: #ced4da none;
    outline: none;
}
.grade{
    display: grid;
    border-bottom: #28a745 solid 3px;
    
}
.button,.button2{
    border-radius: 1mm;
    border: solid #28a745 1px;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;
    font: 16px arial,sans-serif;
    padding: 10px;
}
.button{
    color: #28a745;
    background-color:white;
}
.button2{
    color: white;
    background-color:#28a745;
}
.button:hover,.button2:hover{
    cursor: pointer;
    border-color: #28a745;   
}
.button:hover{
    color: white;
    background-color: #28a745;
}
.button2:hover{
    color: white;
    background-color: #28a745;
}
.link{
    color: #28a745;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}
::placeholder {
    color: #28a745;
    opacity: 1;
}
.container{
    position: relative;
    top: 50%;
    left:50%;
    transform: translate(-50%,0%);
    width:30%;
    border-radius: 20px;
    margin-left: -3px;
}
.signup{
    color: #28a745;
    text-decoration: none;
}
.signup:hover{
    color: #28a745;
    text-decoration: underline;
    background-color: snow;
}
.flexBox{
    margin-top: 5%;
    flex-basis: calc(100%);
    text-align: center;
}
.studentInstructorGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.studentGridItem,.instructorGridItem{
    background-color: #28a745;
    padding: 10px;
    border: #28a745 solid;
    border-radius: 30px;
    width: 250px;
    margin-top: 10px;
}
.studentGridItem:hover,.instructorGridItem:hover{
    cursor: pointer;
    border: black solid
}
.studentGridItem{
    margin-right: 10px;
}
.child1{
    position: relative;
    margin-left: 20%;
}
.child2{
    position: relative;
    margin-left: 10%;
}
.studImg{
    width: 100px;
    height: 100px;
    margin-left:7% ;
} 
.instImg{
    width: 100px;
    height: 100px;
    margin-left:18% ;
} 
@media screen and (max-width: 600px){
    .container{
        width:80%;
        transform: translate(-50%,-3%);
    }
    .studentInstructorGrid{
        transform: translate(0%,0%);
    }
}