:root {
	--main-color: #28a745;
}
* {
	margin: 0;
	padding: 2px 0;
	color: var(--main-color);
}
html,
body {
	scroll-behavior: smooth;
}
body {
	max-width: 100%;
	overflow-x: hidden;
}
.nav {
	height: auto;
}
.flex div {
	padding: 1.5rem;
}

button {
	margin: 5px;
}

.test {
	margin: 10px;
	padding: 10px;
}
.test2 {
	padding: 40px;
	position: relative;
	top: 50px;
}
.test3 {
	padding: 100px 100px;
}
.test4 {
	position: relative;
	top: 100px;
}
p {
	line-height: 200%;
	font-size: larger;
	text-align: justify;
}
.test5 {
	background: var(--main-color);
	padding: 30px;
}
.icon {
	width: 30px;
	height: auto;
}
.footer,
span {
	color: #ecf0f1;
	font-size: medium;
}
.nav-link {
	color: var(--main-color) !important;
}
a:hover,
a:active {
	text-decoration: none;
	background-color: var(--main-color);
	color: white !important;
	border-radius: 5px;
}
.nav-item:hover > .dropdown {
	cursor: pointer;
	border-radius: 7px;
}
.nav-right {
	padding: 0 50px;
}
.draw {
	color: var(--main-color);
	font-weight: 500;
	border: solid 1px var(--main-color);
}
.draw:hover {
	transition: 0.3s;
	outline: none;
	background-color: var(--main-color);
	color: white;
}
.removeAssignment {
	margin-left: 3px;
	color: red;
	font-weight: 500;
	border: solid 1px red;
}
.removeAssignment:hover {
	transition: 0.3s;
	outline: none;
	background-color: red;
}
.hidden {
	display: none;
}
footer {
	background-color: var(--main-color);
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}
footer .first {
	width: 60ch;
}
footer .second {
	width: 50ch;
}
footer .third {
	width: 30%;
}
footer div {
	padding: 10px;
}
img {
	width: 100%;
	aspect-ratio: 1.5/1;
	border-radius: 5px;
}
.logo2 {
	width: 54px;
	height: auto;
	margin-right: 50px;
	aspect-ratio: 1/1;
}
.logo {
	width: 80px;
	height: auto;
	aspect-ratio: 1/1;
}
@media (min-width: 900px) {
	.cruiseControl img {
		width: 850px;
		margin-left: 80px;
	}
	.carShifter img,
	.servomotor img {
		width: 850px;
		margin-left: 20px;
	}
	.page-wrapper {
		display: flex;
		flex-wrap: wrap;
	}
	.flex {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 90vh;
	}
	.carShifter,
	.servomomtor {
		width: 60%;
		margin-top: 20px;
	}
	.hide {
		display: none;
	}
	.description,
	.servomotorIntroduction {
		width: 70ch;
	}
	.hidden {
		display: block;
		margin-left: 20px;
		width: 60ch;
	}
	footer {
		justify-content: space-evenly;
		flex-wrap: nowrap;
	}
}