*
{
    margin: 0;
    padding: 2px 0;
    color: #28a745;
}
html,body{
    scroll-behavior: smooth;
}
body{
    max-width: 100%; 
    overflow-x: hidden;
}
.nav
{
    height: auto;
}
.logo2
{
    width: 54px;
    height: auto;
    margin: 0 50px;
}
button
{
    margin: 5px;
}

.test
{
    margin: 10px;
    padding: 10px;
}

img
{
    width: 100%;
    height: auto;
}
.test2
{
    padding: 40px;
    position: relative;
    top: 50px;
}
.test3
{
    padding: 100px 100px;
 
}
.test4
{
    position: relative;
    top: 100px;   
}
p
{
    line-height: 200%;
    font-size: larger;
    text-align: justify
}
.test5
{
    background: #28a745;
    padding: 30px;
}
.logo
{
    width: 120px;
    height: 120px;
}
.icon
{
    width: 30px;
    height: 30px;
}
.footer, span 
{
    color: #ECF0F1;
    font-size: medium;
    padding: 5px;
}
.nav-link {
    color: #28a745 !important;
    }
a:hover, a:active
{
    text-decoration: none;
    background-color: #28a745;
    color: white !important;
    border-radius: 5px;

}
.nav-item:hover > .dropdown{

    cursor: pointer;
    border-radius: 7px;
}
.nav-right{
    padding: 0 50px 0 0 ;
}
.draw{
    color: #28a745;
    font-weight:500;
    border: solid 1px #28a745;
}
.draw:hover{
    transition: 0.3s; outline:none; 
    background-color: #28a745;
    color: white;
}
<<<<<<< HEAD

=======
.hidden{
    display: none;
}
@media (min-width:600px) {
    .page-wrapper{
        display: flex;
        flex-wrap: wrap;
    }
    .flex{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .img{
        width: 60%;
    }
    img{
        height: 550px;
        margin-top: 20px;
        margin-bottom: 80px;
    }
    .imgRES{
        margin-left: 20px;
    }
    .contentRES{
        margin-left: 100px;
        width: 70ch;
        margin-right: 20px;
    }
    .hide{
        display: none;
    }
    .content{
        width: 70ch;
    }
    .hidden{
        display: block;
        margin-left: 20px;
        width: 60ch;
    }
    .img2{
        margin-left: 100px;
    }
}
>>>>>>> 1b2c5d761ef76dfe6d897d2ce092857ed0034970
