.profile{
    margin-left: 15%;
    margin-top: 30px;
}
.table{
    margin-left: 15%;
    width: 70%;
    text-align: center;
}
th{
    color: white;
    background-color: green;
}
#assignment:hover{
    cursor: pointer;
}
#assignment{
    width: 500px;
}
.assign_form{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.658);
    height: 100%;
    width: 100%;
}
.assign_child1,.assign_child2{
    padding: 20px;
    background-color: white;
    width: 40%;
    border: 2px solid green;
    border-radius: 60px;
}
.assign_child1{
    transform: translate(75%,25%);
}
.assign_child2{
    transform: translate(75%,80%);
}