.profile{
    margin-left: 15%;
    margin-top: 30px;
}
.table2{
    margin-left: 15%;
    width: 70%;
    text-align: center;
}
th{
    color: white;
    background-color: green;
}
tr{
    border-bottom: green 1px solid;
}
#assignment:hover{
    cursor: pointer;
}
#assignment{
    width: 500px;
}
.assign_form{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.658);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.assign_child1,.assign_child2,.assign_child3{
    padding: 20px;
    background-color: white;
    width: 30%;
    border: 2px solid green;
    border-radius: 60px;
}
.assign_child1{
    transform: translate(120%,7%);
}
.assign_child2{
    transform: translate(120%,80%);
    text-align: center;
}
.assign_child3{
    transform: translate(120%,80%);
}