:root {
	--main-color: #28a745;
}
body {
	overflow-y: scroll;
	overflow-x: scroll;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
	display: none;
} 
.desc {
	width: 100%;
	background-color: var(--main-color);
	text-align: center;
	position: absolute;
	bottom: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.descButton {
	padding: 0.5rem;
	outline: none;
	border-radius: 5px;
	border: 1px white solid;
	font: 15px sans-serif, arial;
	background-color:white;
}
.arrowUp {
	border: solid var(--main-color);
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	margin-left: -8px;
	opacity: 0;
	transition: ease-in-out 50ms;
}
.arrowDown {
	border: solid var(--main-color);
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	margin-left: -8px;
	opacity: 0;
	transition: ease-in-out 50ms;
}
.descButton:hover span {
	opacity: 1;
	margin-left: 8px;
}
#pdf {
	position: absolute;
	height: 0;
	left: 0;
	width: 100%;
}
input::placeholder{
	font-size: smaller;
}
input:focus::placeholder{
	color: transparent;
}
.input-bar{
	margin: 0;
	padding: 0;
	font-size:small;
	font-weight: bold;
}
.input-data{
	margin-top: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: var(--main-color) solid 3px;
	outline: none;
}
.text0, .text1, .text2, .text11, .text22, .text33{
	margin: 1%;
	overflow: hidden;
}
.text0{
	width: 98%;
}
.text1, .text2{
	width: 45%;	
}
.text1, .text11{
	float: left;
	margin-left: 10px;
}
.text2, .text33{
	float: right;
	margin-right: 10px;
}
.text11, .text33{
	width: 29%;
}
.text22{
	float: left;
}
.text22{
	width: 31%;
}
.sub{
	background-color:#28a745;
	color: white;
	border-radius: 1mm;
	border: solid var(--main-color) 1px;
	outline: none;
	margin-top: 10px;
	font: 16px arial, sans-serif;
	padding: 10px;
}
.sub:hover, .sub:focus{
	background-color:#30c553;
	color: white;
}